@import '../../utilities/variables';

footer {
  border-top-width: 0.2rem;
  border-style: groove;
  background: rgb(104, 108, 116);
  padding: 5rem 0;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
}
.footer--logo {
  padding-right: 3rem;
  font-size: 4rem;
  font-weight: 500;
  display: block;
}
.footer--permalinks {
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer--copyright {
  padding-bottom: 10rem;
  padding-right: 3rem;
  letter-spacing: 0.3rem;
}

// SMALL DEVICES
@media screen and(max-width:400px) {
  .footer--logo,
  .footer--copyright {
    padding: 0;
  }
  .footer--permalinks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
